/* ------------
first section
--------------- */
body{
    font-family: 'Inconsolata', monospace;
}
.container{
    background-color: #161616;
    margin: 35px 60px 0px 60px;
    border-radius: 8px;
}

.first-page{
    display: flex;
    justify-content: space-between;
} 
.details{
    padding: 30px 0px 100px 80px;
}
.title{
    font-size: 70px;
    color: #FFFFFF;
}

.player img{
    width: 581px;
    height: 613px;
    padding: 30px 30px 0px 30px;
    padding-top: 30px;
}
.first-button{
    padding: 15px 35px;
    margin-top:25px;
    background-color: #d61212;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-family: URW Chancery L, cursive;
    font-weight: 500;
}


/* -------------------
secont section started
-------------------- */
.show{
    display: flex;
}
.lives-buttons{
    display: grid;
    margin-bottom: 25px;
    background-color: #161616;
    width: 250px;
    border-radius: 5px;
    margin-right: 30px;
}

.lives-buttons button{
    width: 150px;
    height: 40px;
    margin: 20px 20px;
    margin-left: 49px;
    border: none;
    border-radius: 4px;
    transition: .5s;
    font-weight: 550;
    font-size: 15px ;
    cursor: pointer;
    font-family: Marker Felt, fantasy;
}
.lives-buttons button:hover{
    background-color: red;
}


.container-2{
    margin: 35px 60px 0px 60px;
}

/* lives */

.blog{
    border: 1px solid rgb(218, 215, 215);
    width: 90%;
    height: 310px;
    padding-bottom: 60px;
    margin-bottom: 30px;
    border-radius: 12px;
    
}
.blog img{
    width: 100%;
}
.live-videos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 30px
}
.blog-info{
    padding-left: 10px ;

}
.blog-info p{
    font-size: 17px;
    font-weight: 600;
    font-family: Marker Felt, fantasy;
}
.comment{
    display: flex;
    
    
}
.comment p{
    cursor: pointer;
    font-size: 14px;
    font-family: Marker Felt, fantasy;
}

.comment div {
    padding-right: 40px;
    padding-left: 15px;
}
.transfer{
    margin-top: 18px;
    margin-left: 12px;
    padding: 8px 16px;
    font-weight: 600;
    background-color: white;
    border: solid 1px gray ;
    border-radius: 4px;
    transition: .5s;
}
.transfer:hover{
    background-color: red;
    cursor: pointer;
}

/* Footer */
.footer{
    height: 380px;
    background-color: #161616;
    width: 100%;
    margin: 0;
}
.footer h1{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 55px;
}
.footer hr{
    width: 1000px;
    color: white;
}
.links{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    
}
.links a{
    text-decoration: none;
    padding: 15px;
    color: white;
    
}
.social-link{
    display: flex;
    justify-content: center;
    padding-top: 18px;

}
.social-link a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}